body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 60px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
    padding:10px 30px;
    border-radius: 8px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
#mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
#mid-banner .half-width #pera{
    padding-right: 100px;
}